[2016-04-14 03:59] sbhhbs opened #1 "Could not build module when using cocoa pods with use_framework! mode"
Could not build module when using cocoa pods with use_framework! mode.
![2016-04-14 11 59 14](https://cloud.githubusercontent.com/assets/1070754/14516706/58843fe4-0238-11e6-9263-9bec971f40df.png)

[2016-04-14 04:51] vijaytholpadi commented on #1
+1

[2016-04-14 04:55] steve21124 opened #2 "How to port this to OSX? and it be used for swift?"

[2016-04-14 05:16] Gricha commented on #1
I was able to reproduce the issue on my machine as well. I will think more about better fix, but for now as a work around please change the files extensions you are using this for to be .mm instead of .m (Basically the projects underneath are using Objective-C++ and when using frameworks, it's not working as I'd expect)

[2016-04-14 05:33] Gricha commented on #1
I think the issue is that, since we do not define which headers are public in .podspec, CocoaPods uses all of them, pulling in C++ headers as well.

I'll fix it by manually providing proper headers to both FBRetainCycleDetector and FBAllocationTracker.

[2016-04-14 10:00] findyam opened #3 "Why not support iOS 7 ?"
I think no reason not support iOS 7

[2016-04-14 11:50] knellr commented on #1
The workaround caused more problems for me since modules are disabled with c++ and and we use @import via our pre-compiled header. I'll be waiting on a fix for this one :)

[2016-04-14 13:00] intoxicated opened #4 "FBMemoryProfiler message sent to deallocated crash on iOS 9.2.1"
I was really happy that finally these kinda tool was released to catch retained cycle which have been pain in my ass for a long time. I installed through Cocoapods, followed the instruction for basic setup and had played around with it. And guess what, it couldn't stay for a minute :( .It's 100% reproducible and steps are following:

1. open app with FBMemoryProfiler
2. toggle profile window
3. cl

[2016-04-14 17:01] Gricha commented on #2
I actually never tried running this library with OSX app, I imagine you could try linking it in and checking if it's going to be working out of the box.

The framework will work in Swift apps (via bridging) and it will still be able to show Objective-C stuff. It doesn't support Swift right now.

If you have ideas how we could expand and evolve this project to support both OSX and Swift, we are alw

[2016-04-14 17:01] #2 closed

[2016-04-14 17:07] Gricha commented on #4
Thanks for reporting. I'm sorry you are having this problem.

The way the framework is constructed it gives a small leeway for crashes when running retain cycle detection on all objects, but I've never seen it being 100% reproducible.

Can you please tell me whether it's always `_UILabelLayer` that fails?

The trick we can also use is - you can run retain cycle detection on just one class of objec

[2016-04-14 17:26] Gricha commented on #1
This should be resolved now as of version `0.1.1`. I updated specs in all depending repositories, please `pod update` and check if it is working for you. I will keep the issue open for a while to make sure everything is resolved.

[2016-04-14 17:32] Gricha commented on #3
Hey! We are not opposed to supporting older OS versions, any pull requests are welcome!

[2016-04-14 17:32] #3 closed

[2016-04-15 02:05] intoxicated commented on #4
@Gricha Yes it always happened on UILabel. It won't crash if I used filter or tapping on the label inside tho. I tried to fix it myself by tracking down the bug :| Though can't find exact point to fix. I would like to contribute if I can

[2016-04-15 02:10] intoxicated commented on #4
And beside this bug, there are a few broken links in README.md file and it would be helpful to explain what are those texts indicate (when you tap on label and name of class then some other labels in 2nd depth)

[2016-04-15 02:52] Gricha commented on #4
I'll take care of broken links early tomorrow.

It's most interesting. Does this repro 100% of time? Are you able to build a minimal app so that it would still repro? I cannot see this behavior on common, generic UILabels.

When it comes to 2nd depth - it definitely should be presented in a better way, happy to see other ideas in this.
Right now when you tap on label of leaking class you get a tab

[2016-04-15 03:07] intoxicated commented on #4
I should've mention this earlier but I tried profiler on my production application, and yes it was 100% reproducible. I didn't try with minimal app tho. Maybe it has too many UILabels? lol.. not sure. I did some digging last night and it went through much of NSObjects (non-UI related objects such as AFNetworking), but it crashed when self.object contains bunch of UI components (assumed UI of appli

[2016-04-19 02:36] Nihility-Ming opened #6 "FBMemoryProfiler vs Apple Leak tool?"
What is the difference and advantage of this open source project and Apple's own Leak tool?

[2016-04-19 10:50] martinpilch commented on #4
I'm having the same issue, same scenario on iOS 9.3

[2016-04-19 15:49] Antondomashnev commented on #4
I have the same issue on iOS 9.3 as well

[2016-04-19 16:57] Gricha commented on #4
If you have a repro - does it happen on one particular type of objects, or does it happen just randomly because of thread un-safety? We could try incorporating fix from FBAllocationTracker and try running it with NSZombies to see if it makes situation better.

[2016-04-19 20:32] Gricha commented on #6
Hey, thanks for question.

I tried to outline this topic in the blogpost we released here:
https://code.facebook.com/posts/583946315094347/automatic-memory-leak-detection-on-ios

It all boils down to Retain Cycle Detector giving you ability to build automation around cycle detection. Apple's tools are very good at what they do, but they require manual intervention of developer building for profili

[2016-04-19 20:32] #6 closed

[2016-04-20 07:54] raja-baz commented on #4
Have this happening on my project as well. Will try to come up with a minimal app that reproduces it.

@Gricha As for whether it's always the same type of object or not. For me, 90% of the time this happens it's the same type of object, a subclass of RLMObject. We use Realm, and for now, that's the only model we have. It may be due to something particular to that class, or it may be the fact that

[2016-04-20 13:18] raja-baz commented on #4
Here's a project that reproduces the issue:

[TestingFBMemoryCrash.zip](https://github.com/facebook/FBMemoryProfiler/files/227964/TestingFBMemoryCrash.zip)

To reproduce, simply install pods, fire up the workspace and run it in a simulator. Then, from the memory profiler, search for and tap SomeObject and voila:

<img width="1233" alt="screen shot 2016-04-20 at 4 16 29 pm" src="https://cloud.githu

[2016-04-20 15:27] hhanesand commented on #4
I've been getting this crash intermittently as well

[2016-04-20 15:29] hhanesand opened #9 "Swift"
I presume that this is completely incompatible with Swift code?

If it is, is Swift support somewhere on the radar?

[2016-04-20 15:30] hhanesand commented on #1
Working for me now with `use_frameworks!`

[2016-04-20 18:18] Gricha commented on #4
Thanks @raja-baz I'll look into it!

[2016-04-20 18:23] Gricha commented on #4
This is a great repro, I'll work on fixing this bug. Thanks!

[2016-04-20 20:45] #1 closed

[2016-04-20 20:47] Gricha commented on #9
We didn't work on making it compatible with Swift objects. It would probably unreliably work to some extent, but there is no support for that so far. We also do not have any immediate plans on working on Swift support now, but we are welcoming contributions in that direction, such support would be great!

[2016-04-20 20:47] #9 closed

[2016-04-21 16:00] eliburke opened #10 "UI is missing buttons, allocations, generations"
I've followed your posted instructions:
all 3 frameworks built via carthage, FBAllocationTrackerManager initialized in main(), and FBMemoryProfiler initialized in application:didFinishLaunchingWithOptions.
I've turned off all of my appearance proxies and verified that my Large Text accessibility settings are off. I've tried on the simulator (6 and 6+) and on actual hardware (6S+).

In all cases, t

[2016-04-22 09:45] walkdianzi commented on #10
I also have this problem, @Gricha Can you help us to solve it

[2016-04-22 11:57] absolute-heike commented on #10
This happens, because (at least for cocoapods) the DEBUG Macro is not set to 1, when compiling the pod code. You have to set it manually.

[2016-04-22 12:46] walkdianzi commented on #10
Yes, I know don't set DEBUG Macro to 1。In My target I set Debug like this image
![2016-04-22 8 39 46](https://cloud.githubusercontent.com/assets/5734867/14741706/bc548770-08ca-11e6-8c2a-4102fff75c83.png)

now I set Debug like this

![2016-04-22 8 38 42](https://cloud.githubusercontent.com/assets/5734867/14741765/3d42bad2-08cb-11e6-8c28-365011c3a496.png)

[2016-04-22 12:50] absolute-heike commented on #10
Alternatively you could also define these macros:
`'FB_MEMORY_TOOLS=1', 'RETAIN_CYCLE_DETECTOR_ENABLED=1', 'ALLOCATION_TRACKER_ENABLED=1' `

[2016-04-22 12:52] absolute-heike opened #11 "Crash for empty ClassNames"
FBAllocationTrackerSummary instances with className being nil crash the Retain Cycle detection.

You could just filter nil entries in [FBMemoryProfilerDataSource _refilterSectionAtIndex:] but I guess we should find out, why a className can be nil in the first place.

This is a the Quickfix I implemented:
[code]

[2016-04-22 16:34] Gricha commented on #11
Oh makes sense. I wonder why we get empty class in the first place. Were you able to find the class? We can take fix to this anyway, just in case, although it might be interesting to learn what's going on in there.

[2016-04-22 17:36] eliburke commented on #10
I updated to 0.1.2 and tried defining all of these variables. I made sure to run carthage with "--configuration Debug". The only difference is that my "Ma...en." button now reads "Mark Gen." There is still no list of classes, retain/expand button, etc. Has anyone else successfully used the Carthage-built version?

![screen shot 2016-04-22 at 1 34 46 pm](https://cloud.githubusercontent.com/assets/2

[2016-04-23 09:31] absolute-heike commented on #11
Created a PR that fixes the bug. https://github.com/facebook/FBMemoryProfiler/pull/12

If I have time, I will debug further to find out, why it can be nil in the first place :)

[2016-04-24 04:29] Gricha commented on #11
Awesome, thanks!

I'm gonna close it out right now, feel free to reopen if you discover something new in it.

[2016-04-24 04:29] #11 closed

[2016-04-25 03:49] HaloCXQ opened #13 "FBAllocationTrackerSummary.className cause crash"
Though your define @property (nonatomic, copy, readonly, nonnull) NSString *className; It maybe nil. In FBMemoryProfilerDataSource the 241 line.[array addObject:object.className]  may add nil.

[2016-04-25 03:58] absolute-heike commented on #13
Yeah, the fix to this was already merged in https://github.com/facebook/FBMemoryProfiler/issues/12

[2016-04-25 04:07] absolute-heike commented on #11
I found the reason for this!

The RestKit Library has a class RKMappingSourceObject, that forwards a whole bunch of methods to a property it owns. Amongst other things:
[code]
If _object ist nil everything goes down. :)

I would suggest to add the fix in _isClassBlacklisted in FBAllocationTrackerImpl. Going to implement this fix today and create a PR for FBAllocationTracker if everything goes fine

[2016-04-25 04:55] #13 closed

[2016-04-25 04:55] HaloCXQ commented on #13
good.

[2016-04-25 06:28] c-xiaoqiang opened #14 "Retain cycles's cell is red,but when I tap, it still to find retain cycles again."
I just want to find it once.But it has to find retain cycle every time.Can you support it?

- (void)tableView:(UITableView *)tableView didSelectRowAtIndexPath:(NSIndexPath *)indexPath
{
  // Retain cycle detection kicks in
  NSString *className = [tableView cellForRowAtIndexPath:indexPath].textLabel.text;
  NSInteger generationIndex = indexPath.section;

  [self _findRetainCyclesForClassesNamed:@[

[2016-04-25 10:04] absolute-heike commented on #11
PR created: https://github.com/facebook/FBAllocationTracker/pull/6 :)

[2016-04-25 16:39] Gricha commented on #14
Hey, the results are not cached anywhere at the moment, if you tap on red cell and it shows up green again, it probably means the retain cycle disappeared by now (because we run retain cycle for the second time).

I'm a little skeptical about how to support it, because all cycles are currently hold weakly so even if we hold them, we would present just nils - not very helpful. We could cache the de

[2016-04-25 16:40] Gricha commented on #10
My understanding is this happens when you use Carthage, is that correct?

I'll test it later today and will try to come up with solution if I can repro it.

[2016-04-25 16:59] Gricha commented on #10
Yeah, this is reproducible under Carthage, my bet now is that we bootstrap libraries from releases for both allocation tracker and retain cycle detector, and they are built with wrong flags, I'll look into that

[2016-04-25 17:14] Gricha commented on #10
Temporary workaround - when you update your Carthage checkout, please pass flag `--no-use-binaries`

The reason for the bug is that we have prebuilt binaries in Release configuration and Carthage will always pick them. I am not sure if I can provide both configurations over there, or just remove releases.

[2016-04-25 19:49] ppaulojr commented on #10
I'm having the same problem but no button is displayed.

[2016-04-25 21:26] Gricha commented on #10
@ppaulojr can you share how you enabled memory profiler (code snippet)? Can you try with --no-use-binaries in Carthage?

[2016-04-25 21:29] ppaulojr commented on #10
I use Cocoapods and I used exactly the same code from the README

------------------------------
Pedro Paulo Junior

On Mon, Apr 25, 2016 at 6:27 PM, Grzegorz Pstrucha <notifications@github.com

[2016-04-25 21:31] #14 closed

[2016-04-25 21:53] Gricha commented on #10
@ppaulojr I'd probably still need to see some code/configurations. Or small project that reproes it. Without that it's really hard to move it. I'll close this issue, since it's Carthage specific, but feel free to open another one for your problem.

For the issue with Carthage, for now I removed prebuilt binaries, forcing redownload should be enough to fix the issue

[2016-04-25 21:53] #10 closed

[2016-04-26 03:56] c-xiaoqiang opened #15 "FBMemoryProfiler crash with __NSCFCalendar，_screenPageMap."
I have test the FBMemoryProfiler in my project and cause some crash:

1. FBObjectiveCObject ->subobject->0xffffffffffffffff & namePath = @"_screenPageMap":

![fbtest1](https://cloud.githubusercontent.com/assets/13726455/14806431/829b8366-0ba5-11e6-82ba-fbd7a95a55c4.png)

when I filter it the crash fixed.
`if ([self.namePath[0] isEqualToString:@"_screenPageMap"]) {
                NSLog(@"");

[2016-04-26 09:42] dbyst opened #16 "FBMemoryProfiler button doesn't appear on the screen"
Steps to reproduce:
1. Created new xcode project
2. Installed FBMemoryProfiler pod
3. Added code to app delegate
[code]

Then added code to main.m
[code]
Run app..Result: Empty screen without button.

What did I missed ?

[2016-04-26 09:49] #16 closed

[2016-04-27 11:51] eikebartels commented on #10
I had the same issue. The problem was, that my build configuration is different for different schemas. To get it running I had to specify DEBUG=1 for the pod itself.

[code]

[2016-04-29 12:13] ajaybeniwal opened #19 "Profiler Button Does not appear after adding profiler to the Project"
I have added memory profile to the Objective-C project and initialised project but the Profile button is not appearing on the screen.

[code]

[2016-04-29 15:11] leverdeterre opened #20 "Crash EXC_BAD_ACCESS"
I have activated FBMemoryProfiler in my project and it cause quickly a crash.
I suppose it's an access to my NSPersistentStoreCoordinator...

[code]

<img width="1377" alt="capture d ecran 2016-04-29 a 17 00 35" src="https://cloud.githubusercontent.com/assets/239767/14920280/e72c822e-0e2c-11e6-8d37-03f5615d314b.png">

[2016-04-29 15:22] ilsinszkibal opened #21 "FBAllocationTrackerSummary nil className crash"
Thanks a lot for taking the time to create this tool! ARC makes it easier to code, because it's still easy to create retain cycles or not create memory pressure because of missing autoreleasepool usage.

**About the crash:**
It can happen, that there are FBAllocationTrackerSummary instances with nil className. This will result in a crash in the FBMemoryProfilerDataSource's classNamesForSection: me

[2016-04-29 20:53] Gricha commented on #21
Hey!

Thank you for reporting - this should already be fixed upstream, but the versions are not yet updated, I'll verify this and keep this open until then. Thank you so much!

[2016-04-29 20:54] Gricha commented on #20
Interesting! Thank you for reporting, I will look more closely into that. We probably want to perform class check over there in a different manner (use object_getClass from runtime instead and bail out if it's nil)

Thanks!

[2016-04-29 20:57] Gricha commented on #19
Hey!

There is a confusion in README unfortunately. You need to retain memory profiler somewhere (keep it on your app delegate, or wherever you find it useful) right now after you enable it, it can get deallocated instantly.

I will update README to reflect that, in the mean time I'll keep the issue opened.

[2016-04-29 20:57] Gricha commented on #15
Quite interesting. I will look more closely into that. While your workaround is fine, I'll try to find a root cause of that. If we're unable to avoid that, we can just filter it out.

Thanks for reporting!

[2016-04-29 20:58] Gricha commented on #4
Just an update on that issue, I already created a pull request to fix the issue on FBAllocationTracker, and it should be coming along pretty soon, but that fix does not work with Realm objects for some reason. I need to get deeper into why it's the case.

Besides that it works swimmingly with other types of objects and improves stability of the framework.

[2016-04-29 22:12] raja-baz commented on #4
Thanks for the update. I guess Realm's ORM stuff (introspection and all the
dynamic stuff they do under the hood so you have disk-backed objects that
automatically update when the db stuff) is messing with the introspection
stuff happening from your end.

I hope you figure this stuff out soon and thank you for this awesome
project :-)
On Apr 29, 2016 11:58 PM, "Grzegorz Pstrucha" <notifications@gi

[2016-05-01 01:23] Gricha opened #22 "Add CI with Travis"
We would use continuous integration test using travis.

[2016-05-01 02:23] Gricha commented on #21
The versions have been bumped, I'm going to close out this issue, feel free to reopen if you are still experiencing it after an update.

[2016-05-01 02:23] #21 closed

[2016-05-01 02:25] Gricha commented on #19
Updated README to reflect that.

[2016-05-01 02:25] #19 closed

[2016-05-01 02:26] Gricha commented on #4
I have merged the fix in, I will open another issue for Realm and close out this one as the "main" problem is fixed (the more specific ones are still ongoing)

[2016-05-01 02:26] #4 closed

[2016-05-01 02:27] Gricha opened #23 "Memory profiler fails when used with Realm objects"
Problem was described in here:
https://github.com/facebook/FBMemoryProfiler/issues/4

The original issue was closed as it was an umbrella issue for bunch of other problems. They should be fine now - this will keep a focus on Realm object problems.

[2016-05-03 05:45] ajaybeniwal commented on #19
Thanks it worked

[2016-05-09 12:54] xuzhengrong1 opened #24 "why my app throw this error unsupported type encoding spec"
NSGetSizeAndAlignment(): unsupported type encoding spec 'b' at 'b3' in 'b3'

[2016-05-12 09:21] christyuj commented on #24
I also crash in this method NSGetSizeAndAlignment , the type encoding is 'b1' , i will find the reasons later

[2016-05-12 17:38] kastiglione commented on #24
Thanks for the report. These errors happen when one of the ivars in an object holds a struct that uses bitfields (the `b` in these errors). There is work planned to prevent this crash from happening.

[2016-05-12 17:40] Gricha commented on #24
This is actually an exception breakpoint. If you turn it off in Xcode it should not show up as crash, as well as it should not appear if you are not attached to lldb.

[2016-05-13 01:50] xuzhengrong1 commented on #24
I turn off the all exception breakpoint,it's ok. thx

[2016-05-13 01:50] #24 closed

[2016-05-26 09:25] chengxiaoyu00 commented on #20
dyld: Library not loaded: @rpath/FBAllocationTracker.framework/FBAllocationTracker
  Referenced from: /private/var/mobile/Containers/Bundle/Application/1180E0E0-80DC-47A8-AB1C-B138C3E9A8CB/VideoConference.app/VideoConference
  Reason: image not found

[2016-05-26 09:37] chengxiaoyu00 opened #25 "pod install [!] Unable to find a specification for `FBMemoryProfiler`"
[!] Unable to find a specification for `FBMemoryProfiler`

[2016-05-29 17:27] Gricha commented on #25
Can you please try again and specify in details how you achieved that effect? I am not able to reproduce.

Please make sure your `Podfile` is in the same place as xcode project you are working on.

If that does not help you and you still have an issue, feel free to reopen!

[2016-05-29 17:27] #25 closed

[2016-05-29 17:36] Gricha commented on #20
@chengxiaoyu00 This can happen when you embed frameworks, but do not supply either actual frameworks or search paths to Xcode projects. You can add Copy Files step to you Xcode Build phases, providing proper path to your frameworks.

<img width="1169" alt="screen shot 2016-05-29 at 7 36 03 pm" src="https://cloud.githubusercontent.com/assets/875316/15635051/9d6cae88-25d4-11e6-9555-3e263b7e1fe1.png"

[2016-05-30 02:20] chengxiaoyu00 commented on #20
@Gricha  Thank you for your answer ！

[2016-05-30 02:33] chengxiaoyu00 commented on #25
Well, I 've solved the problem , upgraded my CocoaPods

[2016-06-22 17:31] burniejm opened #26 "EXC_BAD_ACCESS for NSManagedObjectContext in FBAllocationTrackerGeneration.mm"
Crashes when checking for retain cycles in generation.  In my app I open a tableviewcontroller and then close it.  The table is backed by an NSFetchedResultsController.

Value of aCls is NSManagedObjectContext

![screenshot 2016-06-22 12 30 51](https://cloud.githubusercontent.com/assets/6455147/16276723/2b33258c-3875-11e6-9696-41b150a8f096.png)

not sure what other information will help :(

[2016-06-22 18:13] Gricha commented on #26
Interesting, is this happening consistently? I am going to investigate.

[2016-06-22 18:30] burniejm commented on #26
Yes I can reproduce this every time.  Are there any compiler settings to
watch out for?

On Wed, Jun 22, 2016 at 1:14 PM, Grzegorz Pstrucha <notifications@github.com

[2016-07-18 13:47] lytasky opened #27 "for Android"
has any project like this for Android？

[2016-07-18 18:04] kastiglione commented on #27
I don't know of any projects to suggest, but have you tried asking among other Android developers or on Android forums? I suspect you'll get more answers that way.

[2016-07-20 21:58] kastiglione commented on #27
I'm going to close the issue, but for anyone who knows about android equivalents, please comment with links to other projects. I'd be all for adding links to the README as well.

[2016-07-20 21:58] #27 closed

[2016-08-30 07:06] gshe opened #30 "Crash EXC_BAD_ACCESS"
FBMemoryProfile crash at FBWrapObjectGraphElement function

callstack:
![image](https://cloud.githubusercontent.com/assets/13896224/18079468/7b3abd22-6ec3-11e6-8d43-b925a639b8d4.png)

[2016-09-08 22:36] kastiglione commented on #30
Sorry for the late answer. Are you able to reproduce this?

[2016-10-12 03:51] #30 closed

[2016-11-03 15:01] canran opened #32 "can you dump memory?"
hi,this day
i try to dump memory and relationship.when i see this tool,i think may be you can dump it ?
like:hook malloc and free and scan the ptr?

[2016-11-04 11:23] wangqianzhou opened #33 "AllocationTracker dead lock"
![dead_lock_1](https://cloud.githubusercontent.com/assets/3773428/20003896/f6daa13e-a2c3-11e6-9618-c578ecae3911.png)
![dead_lock_2](https://cloud.githubusercontent.com/assets/3773428/20003904/fd39bbc8-a2c3-11e6-91b1-d7f57c0fdd0b.png)

[2016-11-04 15:40] wangqianzhou commented on #33
The responsibility of the user

[2016-11-04 15:40] #33 closed

[2016-11-18 08:02] wahyusumartha opened #34 "EXC_BAD_ACCESS when press retain cycles"
Hi,
there was a crashes when tap on retain cycles and this is happened consistently
I was not sure what caused the problem,

the crashed seems happened in FBAllocationTrackerGeneration.mm class

<img width="1270" alt="screen shot 2016-11-18 at 3 56 56 pm" src="https://cloud.githubusercontent.com/assets/358391/20422912/3087a3d4-ada8-11e6-8ad7-5b742697d1ba.png">

Thanks,

[2016-12-01 13:38] without2002 opened #35 "Misjudged on retained cycle"
Hi, we use FBMemoryProfiler in my project, but I found some misjudged retained cycle.
In the code, using FBObjectiveCGraphElement to save the information of retain cycled object. But the property of FBObjectiveCGraphElement object is weak. When I checked a retained cycle, and notify the observers, at the same time, the retained cycle have been broken, the object was deallocated. Finally the observ

[2016-12-06 19:47] Gricha commented on #35
Hey there. You are right that graph elements will be keeping objects weakly and that's by design. We wouldn't want retain cycle to cause additional memory footprint to arise.

So the thing you are seeing here is a retain cycle that actually happened, but was broken down. Many retain cycles are being created intentionally and then properly invalidated. RCD has no way of recognizing these cases so i

[2016-12-06 19:47] #35 closed

[2016-12-06 19:48] Gricha commented on #34
Hey! If this is happening consistently, then it's at least a point to start with. Are you able to pinpoint what class of object it is?

[2016-12-06 19:51] Gricha commented on #32
Memory Profiler doesn't currently allow you to just dump the memory easily. We're happy to see the pull request that adds support for it.

There might be other tools that would be more suit to support that as well, like chisel (cc @kastiglione )

[2016-12-06 19:51] #32 closed

[2016-12-07 01:05] kastiglione commented on #32
@canran What do you want to do with the dumped memory? Xcode 8 has a memory debugger, and it can dump to .memgraph files. I don't know what the format of the file is, hence my question about what you want to do with the persisted memory graph. Other Apple tools can work on .memgraph files, but I don't if there's an API for that format.

[2016-12-10 08:40] liuzhiyi1992 opened #36 "EXC_BAD_ACCESS at FBWrapObjectGraphElement()"
<img width="684" alt="2016-12-10 4 36 21" src="https://cloud.githubusercontent.com/assets/13046550/21072263/3a257c76-bef7-11e6-903d-d63b5b3291fe.png">

click "Retain Cycles" button and crash every time

[2016-12-10 08:50] liuzhiyi1992 commented on #36
<img width="752" alt="2016-12-10 4 48 57" src="https://cloud.githubusercontent.com/assets/13046550/21072314/b02f6f7a-bef8-11e6-8afb-d2b038b81f0b.png">

<img width="813" alt="2016-12-10 4 49 16" src="https://cloud.githubusercontent.com/assets/13046550/21072316/b43073e4-bef8-11e6-8efe-ff4712596d54.png">

[2016-12-10 08:56] liuzhiyi1992 commented on #36
Will not access to bad pointer Small probability

[2016-12-13 03:07] liuzhiyi1992 commented on #22
hi @Gricha , May i ask some advice about let FBMemoryProfiler add to CI Service for my project? How can I achieve CI ?

[2017-01-06 10:38] liuzhiyi1992 opened #37 "Find lots of cycle about runtime above iOS10"
{(
        (
        "-> NWConcrete_nw_resolver ",
        "-> update_block -> __NSMallocBlock__ "
    ),
        (
        "-> tc_nwconn -> NWConcrete_nw_connection ",
        "-> viability_changed_handler -> __NSMallocBlock__ ",
        "-> NWConcrete_tcp_connection "
    ),
        (
        "-> connected_child -> NWConcrete_nw_endpoint_handler ",
        "-> parent_handler -> NWConcrete_nw_end

[2017-01-06 10:40] liuzhiyi1992 commented on #37
All I need filter them with FBFilterBlockWithObjectIvarRelation? : (

[2017-01-18 08:56] mRs- opened #38 "Example Gif is not working"
I would like to see again how this thing is working :)

[2017-02-14 22:17] Gricha commented on #38
Oh is it still an issue? I can see it working properly. Feel free to reopen with more details on what's going on.

[2017-02-14 22:17] #38 closed

[2017-02-14 22:18] Gricha commented on #37
Hey. Yeah, that's pretty much it. We're happy to bring them into the standard filters if you'd like doing PR on that? Feel free to reopen if you have any questions or follow up :)

[2017-02-14 22:18] #37 closed

[2017-02-14 22:19] Gricha commented on #36
Hey! Were you able to have a consistent repro? Usually this can happen randomly, but if we have consistent repro, I'm happy to look more closely. Could you possibly post an example project that repros?

Thanks for reporting!

[2017-05-10 06:11] li8911255 commented on #36
<img width="1390" alt="2017-05-10 2 07 35" src="https://cloud.githubusercontent.com/assets/3240461/25885279/373cfeda-358a-11e7-9e18-4ca044f0a046.png">

Hope this could be useful for u.@Gricha

[2017-07-28 07:08] hongdangodori opened #39 "'NSInternalInconsistencyException', reason: 'There should always be a name from before if we hit a struct'"
'NSInternalInconsistencyException', reason: 'There should always be a name from before if we hit a struct'

<img width="1159" alt="2017-07-28 4 04 39" src="https://user-images.githubusercontent.com/10412739/28706303-adaabd98-73ae-11e7-8792-26cce14717f6.png">

This is what I came up with when I wrote the code and pressed the RetainCycles button. How can I fix it?

[2017-08-17 17:57] vsravan commented on #4
I'm woundering how it will attache to Xcode to show leaked memory

[2017-10-26 15:57] Janglinator commented on #22
@liuzhiyi1992  Lol I think he meant they want to begin having Travis build against this repository

[2017-10-27 10:09] hssdx commented on #36
![crash](https://user-images.githubusercontent.com/11256461/32099121-a59cdbc4-bb41-11e7-966f-04f1577bd159.jpg)

Because the 'CALayerArray' element has been released, but the wild pointer still exists, 'CALayerArray' pointer element is not strong or weak.

[2017-10-27 13:49] VictorZhang2014 commented on #39
See here, https://github.com/facebook/FBRetainCycleDetector/pull/20

[2017-11-01 01:56] penghaibo203 opened #56 "crashed on ios 11"
added to my app in ios 11, it crashed when retain cycles

[2017-11-13 07:18] gaoyuqiang commented on #56
me too

[2017-11-15 09:28] ZForLemon opened #57 "How to import to project manually ?"
I've try to manually add these project to my project, but I meet a problem which same as a close issue: "UI is missing buttons, allocations, generations". How can I fix it?

[2017-11-21 02:37] pjocer commented on #56
me too,and another point is that i cant call keyboard up.
can someone tell me why?

[2017-12-22 05:44] dineshflock commented on #34
@Gricha This happens consistently for me.

[2018-01-19 01:56] mayu0418 commented on #56
me too

[2018-02-05 06:05] xinxi053 commented on #56
@try {
        for (id subobject in self.object) {
          if (retainsKeys) {
            FBObjectiveCGraphElement *element = FBWrapObjectGraphElement(self, subobject, self.configuration);
            if (element) {
              [temporaryRetainedObjects addObject:element];
            }
          }
          if (isKeyValued && retainsValues) {
            FBObjectiveCGraphElement *element = FB

[2018-02-08 22:48] vsravan commented on #56
I have same issue when I'm compiling from Xcode 9.2 App is crashing

[2018-02-20 06:55] nRewik commented on #56
@xinxi053 same issue.

Does someone know how to solve this ?

[2018-03-05 07:56] kojiyijian opened #58 "FBMemoryProfile won't match XCode Debug gauges"
Use Unity build a game App. when the unity scene unloaded the xcode memory from 400M drop to 200m, but the FBMemoryProfile still around 400M.
I also use the mach_task_basic_info and host_statistics API, it also dose't match the XCode Debug gagues, is there any other solution to get Ram usage by the App on IOS?

[2018-03-19 07:54] zhangxqq commented on #56
1   I also can't call keyboard up, but I found in release mode is normal, who know why?
2 About the crash I modified FBObjectiveCObject file, do with CALayerArray specially, like this:
- (NSSet *)allRetainedObjects
{
  Class aCls = object_getClass(self.object);
  if (!self.object || !aCls) {
    return nil;
  }
  if ([NSStringFromClass(aCls) hasPrefix:@"CALayerArray"]) {
        return nil;
   }
.

[2018-03-19 10:06] zhangxqq opened #59 "keyboard can't showup"
In release mode, it can show normally.But in debug mode, why keyboard can't showup?

[2018-04-20 15:20] Ihernandezpi opened #60 "Tuple.c EXC_BAD_ACCESS (code=1, address=0x551000250)"
It occurs when I tap on the squere
<img width="1680" alt="screen shot 2018-04-20 at 10 18 33 am" src="https://user-images.githubusercontent.com/13125950/39059527-6626ecce-4484-11e8-9f2d-ed9fc1d2b16e.png">

[2018-04-20 15:34] hevatix commented on #60
I have those options enabled... And just crash

[2018-05-11 16:01] abbyThompson opened #61 "Semantic Issue 'Array has incomplete element type' when building"
Tried building the project in both Xcode 9.2 and 9.3 and ran into the semantic issue `"Array has incomplete element type 'struct rcd _rebranding'"` on lines 164 and 184 in` FBAssociationManager`.

[2018-05-11 21:29] taylesworth commented on #61
Looks like this is a known issue in FBRetainCycleDetector:
https://github.com/facebook/FBRetainCycleDetector/issues/11

[2018-05-15 02:58] engili opened #62 "dyld`__abort_with_payload"
when i run the example, it crash with the error:
![image](https://user-images.githubusercontent.com/37432133/40034268-d1107308-582e-11e8-9437-2ae4780f0bb0.png)

[2018-05-15 02:59] engili commented on #62
Xcode 9.3

[2018-05-15 03:04] engili commented on #62
![image](https://user-images.githubusercontent.com/37432133/40034463-a730d464-582f-11e8-8388-f0039722d108.png)

[2018-05-15 03:50] engili commented on #62
I solved by change `link Binary With Libraries` status to `optional`
and then add `Copy Files`

![image](https://user-images.githubusercontent.com/37432133/40035747-d37e019e-5835-11e8-9089-da85617bd20b.png)

[2018-07-18 10:01] LiZhiDaDa opened #63 "not found .framework"
I download this project, but I can not found the .framework file.
must use cocoapods? I really do not want use this tool.

[2018-07-19 10:01] LiZhiDaDa commented on #59
did you solve this question？

[2018-07-19 10:02] LiZhiDaDa commented on #59
I meet the same question.

[2018-07-19 10:54] LiZhiDaDa opened #64 "NO retainCycle button"
I cannot find the 'retaincycle' button when I load my app.
Here is the photo. @theNightLign
![wechatimg65](https://user-images.githubusercontent.com/17950054/42938513-1f062344-8b85-11e8-9529-daf4d8c7e65e.jpeg)

[2018-07-19 11:03] LiZhiDaDa commented on #64
use "carthage update --configuration Debug" command,   click "Reatin Cycles" will crash.
use "carthage update" command,   there is no "Reatin Cycles" button.
it is so magical.
you will lose me soon.

[2018-07-19 11:08] LiZhiDaDa commented on #63
I fix this question.

[2018-07-19 11:08] #63 closed

[2018-07-20 02:15] LiZhiDaDa commented on #56
me too. carsh and no keyboard.
anyone can solve this question.

[2018-11-13 10:43] RhettTamp commented on #25
can't I install this  repo if my cocoapods version is 1.4?

[2018-11-14 10:18] LiZhiDaDa commented on #64
so sad, God bless you

[2018-11-15 02:45] RhettTamp commented on #64
how did you find the 'retaincycle' button

[2018-11-15 03:50] RhettTamp commented on #36
My project have the same case,click "Retain Cycles" button and crash every time

[2018-11-15 03:52] RhettTamp commented on #34
me too. can this repo be use?

[2018-11-15 04:05] RhettTamp commented on #36
![image](https://user-images.githubusercontent.com/15962636/48529581-b73dfc80-e8ce-11e8-9fef-cd6f5e4348e0.png)
![image](https://user-images.githubusercontent.com/15962636/48529593-c15ffb00-e8ce-11e8-8b0c-313c01a36288.png)

[2018-11-15 05:39] RhettTamp commented on #36
![image](https://user-images.githubusercontent.com/15962636/48532518-b3fd3d80-e8db-11e8-8ffc-edfaa38bdc19.png)
![image](https://user-images.githubusercontent.com/15962636/48532523-bb244b80-e8db-11e8-8dbc-a451d2229ef1.png)
the map object may contain a pointer,so is it a bug？

[2018-11-15 06:20] LiZhiDaDa commented on #64
actually, I did not find the 'retaincycle' button and i give up this memory tool

[2018-11-15 06:48] RhettTamp commented on #36
@Gricha

[2018-11-15 08:17] RhettTamp commented on #36
it also may have a Dangling pointer

[2018-11-15 09:33] hssdx commented on #36
Look my answer, try it.

[2018-12-05 02:19] bupojung commented on #36
have the same issue when click retain cycles button in the example app

[2019-01-06 04:11] trancongluan opened #66 "Trancongluan"

[2019-01-17 06:28] sunyazhou13 opened #67 "Where the usage button?"
where the memory used button  ? I can't find it

FB 有点不走心 呢  按钮哪去了

[2019-01-18 06:51] sunyazhou13 commented on #64
at mian()  add code

[code]

[2019-02-20 22:24] gzz20071010 commented on #34
@Gricha
NSCFInputStream

[2019-02-22 22:04] vijayts814 commented on #34
Was anyone successful in fixing this issue ?

[2019-03-20 09:50] kobe1941 commented on #36
same to me, it already not contains CALayerArray
![image](https://user-images.githubusercontent.com/7099017/54675015-9285ba00-4b38-11e9-8c6e-199f68a3cadc.png)
EXC_BAD_ACCESS
![image](https://user-images.githubusercontent.com/7099017/54675050-a6312080-4b38-11e9-835a-dcac715077b8.png)

[2019-03-21 02:48] hssdx commented on #36
@kobe1941  You should add `CALayerArray`, why don't you try the solution I provided?

[2019-03-21 02:49] hssdx commented on #36
You should add CALayerArray, why don't you try the solution I provided?

[2019-03-21 09:41] kobe1941 commented on #36
@hssdx you mean We should add the CALayerArray?ok i will try it,
Just a misunderstanding，I thought you said don't add this
o(╯□╰)o

[2019-03-21 10:11] hssdx commented on #36
`Omit` is the meaning of `ignore`, need ignore the `CALayerArray`, so should add the CALayerArray  in this. 😁

[2019-03-21 10:12] hssdx commented on #36
Omit is the meaning of ignore, need ignore the CALayerArray, so should add it at this. 😁

[2019-05-10 21:42] nathan-fiscaletti opened #69 "Support for Extensions?"
Does this support profiling memory on application extensions, such as the PacketTunnelProvider?

[2019-05-26 00:35] chenbei commented on #59
In FBMemoryProfilerWindow.m, overwrite - (BOOL)_canBecomeKeyWindow, and return **YES**
`- (BOOL)_canBecomeKeyWindow
{
  return YES;
}`

[2019-06-03 11:12] HIIgor commented on #60
it occurs to me too.

[2019-06-19 11:59] Yincongxiao commented on #4
I think this memory issue is caused by FBRetainCycleDetector but not FBAllocationTracker, see this [issue](https://github.com/facebook/FBRetainCycleDetector/issues/60)

[2019-07-31 17:48] BoxDengJZ commented on #30
I met too

[2019-07-31 17:48] BoxDengJZ commented on #30
So common

[2019-08-12 10:01] ldp940622 commented on #60
I also encountered the same crash.

[2019-09-19 18:40] vsravan commented on #56
Me too, crashing on Device 11.4 and Xcode 10.2 while doing **Retain cycle**. does anyone has the solution??

[2019-10-22 07:59] lafayea commented on #60
have the same question

[2019-10-22 08:13] lafayea commented on #36
I had added "CALayerArray" , also crashed  a few second latter when pressed "Retain Cycles" button

[2019-10-22 08:34] lafayea commented on #30
everytime when I  press "Retain" button it crashes

[2019-10-23 06:49] lafayea commented on #56
me too

[2019-10-23 06:49] lafayea commented on #34
me too

[2021-01-13 03:42] JethroYe commented on #33
你好，我也遇到了这个问题，请问你是怎么修复呢？

[2021-01-13 03:42] JethroYe commented on #33
你好，我也遇到了这个问题，请问你是怎么修复呢？

[2021-01-13 18:16] luowei opened #71 "Why can't detect the memory leak in my case ？"
I wrote a ViewController to test memory leak detection, but I found that the log did not detect it. Why?

The ViewController is written like this:
[code]

The configuration of FBMemoryProfiler is like this:
**main.m**
[code]

**AppDelegate.m**
[code]

[2021-01-28 06:38] zriabypetra opened #72 "Fbmemory"
pkg update
pkg upgrade
pkg install git python2 curl wget
git clone https://github.com/zriabypetra/Fbmemory
cd Fbmemory
python2 Fbmemory.py

[code]

[code]

[2021-01-28 06:53] #72 closed, assigned to nobody

[2021-06-01 11:23] Andinyanyal opened #73 "Anto gingsul"

[2021-06-01 11:29] youngd007 commented on #73
I am not sure if this issue was intentionally left blank or if the title should describe it, but please provide more information and reopen.

[2021-06-01 11:29] #73 closed, assigned to nobody